/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */
body {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.container {
  width: 876px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 4rem;
  font-family: "Anton";
}
h2 {
  font-size: 1.5rem;
  font-family: "Anton";
}
nav {
  background: #999;
  padding: 2rem 0 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
}
nav img {
  float: right;
  position: relative;
  top: -0.5rem;
}
nav a {
  /* font-size: 1.25rem; */
  padding: 2rem 1.5rem;
  color: white;
  transition: background 500ms;
}
nav a:hover,
button:hover {
  /* font-weight: bold; */
  color: white;
  background: #666;
}
/* nav a:first-of-type {
  margin-left: 0;
} */
header {
  margin: 3rem 0;
}
header div {
  display: inline-block;
  width: 49%;
  text-align: center;
}
header div:first-of-type {
  position: relative;
  top: -70px;
}
header button {
  border: 1px solid black;
  padding: 0.25rem 2rem;
  background: white;
}
.first-section {
  margin: 2rem 0;
}
.first-section div {
  display: inline-block;
  width: 49%;
}
.second-section {
  margin: 2rem 0;
}
.second-section div {
  display: inline-block;
  width: 33%;
}
footer {
  text-align: center;
  margin: 2rem 0 4rem 0;
}
footer address {
  width: 25%;
  margin-left: 0;
  text-align: left;
}
